<!DOCTYPE html>
<html>
<head>
  <title>Goodfoodhunting</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <nav>
    <ul>
      <li <% if controller.controller_name == 'dashboard' %> class='nav-selection' <% end %> >
        <%= link_to 'dashboard', admin_root_path %>
      </li>
      <li <% if controller.controller_name == 'dishes' %> class='nav-selection' <% end %> >
        <%= link_to 'dishes', admin_dishes_path %>
      </li>
      <li <% if controller.controller_name == 'users' %> class='nav-selection' <% end %> >
        <%= link_to 'users', admin_users_path %>
      </li>
      <li <% if controller.controller_name == 'likes' %> class='nav-selection' <% end %> >
        <%= link_to 'likes', admin_likes_path %>
      </li>
    </ul>
  </nav><main class="content">
    <%= yield %>
  </main>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</div>


</body>
</html>
